<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="四轴飞行器,无人机,无人机论坛,航模论坛,无人机航模,FPV,Crazepony" />
    <meta name="description" content="Crazepony四轴飞行器，专注于微型四轴和第一视角飞行穿越机。">
    <meta name="author" content="nieyong">
    <link rel="shortcut icon" href="/assets/ico/crazepony.ico">

    <title>Crazepony四轴飞行器</title>

    <!-- 根据浏览器语言版本切换到英文网站 -->
    <script type="text/javascript">
        var type=navigator.appName
        if (type=="Netscape"){
            var lang = navigator.language
        }else{
            var lang = navigator.userLanguage
        }

        //取得浏览器语言的前两个字母
        console.log(window.location.href);
        var lang = lang.substr(0,2)
        if (lang != "zh"){
            //非中文请求一律跳转到英文网站
            //并且只在进入首页的时候，进行跳转
            if((window.location.href == 'http://0.0.0.0:4000/')
                || (window.location.href == 'http://www.crazepony.com/')){
                window.location.href = window.location.href + 'en/';
            }
        }

    </script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/assets/css/docs.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">


    <!-- fancybox plugin css -->
    <link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
<!-- NAVBAR
================================================== -->
  <body data-spy="scroll" data-target=".navbar">
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-fixed-top navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/index.html" class="navbar-brand">Crazepony</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li id="home"><a href="/index.html"><span class="glyphicon glyphicon-home"></span></a></li>
        <li id="index">
          <a href="/index.html">主页</a>
        </li>
        <li id="micro">
          <a href="/products/micro-fpv-cn.html">MICRO&nbsp;<i class="fa fa-fire mark-hot"></i></a>
        </li>
        <li id="faq">
          <a href="/faq.html">FAQ</a>
        </li>
        <li id="download">
          <a href="/download.html">下载中心</a>
        </li>

<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">更多<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li id="MINI">
      <a href="/products/mini-cn.html">MINI</a>
    </li>
    <li id="h250">
      <a href="/products/h250.html">H250</a>
    </li>
    <li id="pov">
      <a href="/products/pov.html">POV</a>
    </li>
    <li>
      <a href="/todo.html">擂台榜</a>
    </li>
  </ul>
</li>


<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">百科<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>
      <a href="/wiki.html" target="_blank">航模扫盲</a>
    </li>
    <li>
      <a href="/wiki-crazepony.html" target="_blank">Crazepony百科</a>
    </li>
    <li>
      <a href="/wiki-h250.html" target="_blank">H250百科</a>
    </li>
  </ul>
</li>
        <li>
          <a href="/blog/">博客</a>
        </li>
        <li>
          <a target="_blank" href="./book/">书籍</a>
        </li>
        <li>
          <a href="http://www.makerfire.com" target="_blank">Makerfire</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/en/index.html" >En</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="divider-vertical hidden-xs"></li>
        <li><a href="/index.html" >中文</a></li>
      </ul>
    </nav>
  </div>
</header>

          {{ content }}


      <!-- FOOTER -->
    <footer class="bs-docs-footer" role="contentinfo">
        <p>Copyright &copy;2013 Shenzhen CrazePony Technologies Co., Ltd. All rights reserved.</p>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86135721-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/holder/2.0/holder.min.js"></script>
    <script src="/assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="/assets/js/doc.js"></script>

    <!-- fancybox plugin js -->
    <script type="text/javascript" src="/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="/assets/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/assets/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <script type="text/javascript" src="/assets/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <script src="/assets/js/bootstrap-image-gallery.min.js"></script>
  </body>
</html>
