<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>CrazePony Nano-copter</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/assets/css/docs.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-image-gallery.min.css">

    <!-- fancybox plugin css -->
    <link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
<!-- NAVBAR
================================================== -->
  <body data-spy="scroll" data-target=".navbar">
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-fixed-top navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">Crazepony</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li id="home"><a href="../"><span class="glyphicon glyphicon-home"></span></a></li>
        <li id="index">
          <a href="index.html">主页</a>
        </li>
        <li id="pov">
          <a href="pov.html">POV</a>
        </li>
        <li id="todo">
          <a href="todo.html">擂台榜</a>
        </li>
        <li id="faq">
          <a href="faq.html">常见问题</a>
        </li>
        <li id="download">
          <a href="download.html">下载中心</a>
        </li>
        <li>
          <a href="wiki.html">百科</a>
        </li>
        <li>
          <a href="blog.html">博客</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" >En</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="divider-vertical hidden-xs"></li>
        <li><a href="./index.html" >中文</a></li>
      </ul>
    </nav>
  </div>
</header>

 <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        上一张
                    </button>
                    <button type="button" class="btn btn-primary next">
                        下一张
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>   

          {{ content }}


      <!-- FOOTER -->
    <footer class="bs-docs-footer" role="contentinfo">
        <p>Copyright &copy;2013 Shenzhen CrazePony Technologies Co., Ltd. All rights reserved.</p>
    </footer>

    <div class="hide">
        <script type="text/javascript" src="http://js.tongji.linezing.com/3498918/tongji.js"></script>
        <noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/3498918/tongji.gif"/></a></noscript>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/holder/2.0/holder.min.js"></script>
    <script src="/assets/js/doc.js"></script>

    <!-- fancybox plugin js -->
    <script type="text/javascript" src="/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="/assets/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/assets/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <script type="text/javascript" src="/assets/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/assets/js/bootstrap-image-gallery.min.js"></script>
    <script src="/assets/js/post.js" type="text/javascript"></script>
  </body>
</html>
