---
layout: crazepony-cn
---
<div class="bs-docs-featurette" id="join-us">
  <div class="container">
    <h2 class="bs-docs-featurette-title">CrazePOV旋转时钟</h2>
    <p class="lead"> POV(Persistence of Vision 视觉暂留)实验是很多电子DIY初学者都会愿意尝试的项目。下面就是我刚刚接触电子设计时做的POV时钟，我们都称它为CrazePOV。我将持续更新CrazePOV项目。如果你想要做些什么，那么请毫不犹豫地向我提出问题。</p>
    <p class="lead text-right">CrazePOV项目发起人：钟晟</p>
  </div>
</div>

<div class="container">

    {{ content }}

    <div class="page_disqus" id="disqus_container">
        <a href="#" class="comment" onclick="return false;">我要留言</a>
        <div id="disqus_thread"></div>
    </div>
</div>

